@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Pacifico&display=swap');

:root {
    /* zmienne dla palety kolorów */
    --primary-000: #F3E5F5;
    --primary-100: #E1BEE7;
    --primary-200: #CE93D8;
    --primary-300: #BA68C8;
    --primary-400: #AB47BC;
    --primary-500: #9C27B0;
    --primary-600: #8E24AA;
    --primary-700: #7B1FA2;
    --primary-800: #6A1B9A;
    --primary-900: #4A148C;
    /* zmienne dla czcionek */
    --bodyFont: 'Oswald', sans-serif;
    --headerFont: 'Pacifico', cursive;
    /* zmienne dla głównych kolorów */
    --backgroundColor: var(--primary-000);
    --fontColor: var(--primary-900);
    --headerColor: var(--primary-700);
}

body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    font-family: var(--bodyFont);
    margin: 0;
}

h1 {
    font-family: var(--headerFont);
}

.navbar {
    
    display: flex;
    justify-content: center;
}

.nav-center {
    
    width: 90vw;
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header > img {
    width: 7.5rem;
}

.btn {
    cursor: pointer;
    background-color: var(--primary-500);
    color: white;
    border: transparent;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}

.nav-btn > i {
    font-size: 1.25rem;
}

.nav-links {
    display: flex;
    flex-direction: column;

    height: 0;
    overflow: hidden;

    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

a {
    text-decoration: none;
}

.nav-link {
    color: var(--fontColor);
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--primary-500);
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

.nav-link:hover {
    color: var(--primary-200);
}

.show-links {
    height: 325px;
}


@media screen and (min-width: 700px)
{
    .nav-btn {
        display: none;
    }

    .nav-links {
        height: auto;
        flex-direction:row;
        width: 100%;
    }

    .nav-center {
        display: flex;
        align-items: center;
        max-width: 1440px;
    }

    .nav-link {
        border: none;
        margin-right: 1.5rem;
    }

    .nav-header {
        margin-right: 2.5rem;
    }

    .contact-link {
        margin-right: 0;
        margin-left: auto;
    }
}


/* STOPKA */

.page-footer {
    background-color: black;
    color: var(--primary-200);
    font-family: var(--headerFont);
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
}

.main-page {
    /*background-color: var(--primary-500);*/
    min-height: calc(100vh - 9rem);
    width: 90vw;
    margin-inline: auto;
    max-width: 1440px;
}


/* PROJEKTY */
/* start */

.project img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    object-fit:cover;
    margin: 1rem;
}

.project p {
    padding: 0 1.1rem;
}

p > b {
    margin-right: 1rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    flex: 1;
}


/* koniec PROJEKTY*/